"*":
  editor:
    softWrap: true
    showIndentGuide: true
    showInvisibles: true
    normalizeIndentOnPaste: true
    invisibles: {}
    backUpBeforeSaving: true
  core:
    audioBeep: false
    disabledPackages: [
      "markdown-format"
      "term"
      "git-show"
      "feedback"
      "autocomplete-paths"
      "vim-mode"
      "indent-guide-ext"
      "indentation-indicator"
      "atomtools"
      "execute-as-ruby"
      "term2"
      "Atom-Syntax-highlighting-for-Sass"
      "move-panes"
      "reveal-active-file-context"
      "reveal-active-file-context"
    ]
    ignoredNames: [
      ".git"
      "*.log"
      "*.scssc"
      "_site/"
      ".bundle/**/*"
      "tmp/**/*"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    excludeVcsIgnoredPaths: false
  "exception-reporting":
    userId: "269a4d18-9704-90cc-4545-df739b838308"
  welcome:
    showOnStartup: false
  metrics:
    userId: "ef6ff791d0475579aa49d06b66838c195996b556"
  "find-and-replace":
    focusEditorAfterSearch: true
  "fuzzy-finder":
    ignoredNames: [
      "*.log"
      "*.scssc"
    ]
  "tree-view":
    showOnRightSide: true
  "test-status":
    autorun: false
  "autocomplete-plus":
    enableAutoActivation: false
    includeCompletionsFromAllBuffers: true
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
  autosave:
    enabled: true
  "tabs-to-spaces":
    onSave: "untabify"
  "autoclose-html": {}
  linter:
    showErrorTabProject: false
    showErrorTabFile: false
  "atom-rspec":
    command: "rspec"
  "ruby-test":
    rspecFileCommand: "bundle exec rspec {relative_path}"
    rspecSingleCommand: "bundle exec rspec {relative_path}:{line_number}"
  rspec:
    save_before_run: true
  "linter-rubocop":
    command: "/Users/srao/.rvm/gems/ruby-2.2.1@server/bin/rubocop --config /Users/srao/code/kings-landing/.rubocop.yml"
  "atom-lint":
    showViolationMetadata: false
    ignoredNames: [
      "gk_sync_controller.rb"
    ]
  "atom-beautify":
    _analyticsUserId: "1f9a3c19-4f00-4058-98e7-511044633d41"
    beautifyOnSave: true
    ruby_rbeautify_path: "bundle exec rbeautify"
  tabs: {}
  "git-log": {}
  "xml-formatter": {}
  blame: {}
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "linter-jsonlint": {}
